script.
  // globals
  var clicked_date = null;
  var clicked_event = null;
  var isClicked = false;    // workaround to change dayclick to double click triggered event
  var isClicked_event = false;  // for eventclick
  var plan_color = '#FF3C33';
  var adjust_color = '#2ECB4B';
  var helper_content = '僅週五 18:00 - 24:00 可以安排下一週的行程表，此為預定計畫。\n\n' + 
                       '週六 00:00 - 下週五 18:00 可以編輯原定行程表，此為實際完成事項。\n\n' + 
                       '每週五 18:00 後可以查看已過一週預定計畫與實際完成事項之差別。\n\n' +
                       '查看已過行程表時，預定計劃為紅色，實際完成事項為綠色。\n\n' + 
                       "事項標題包含 '讀聖經'、'傳福音'、'家聚會'、'個人禱告' 會累計時數給服事者查看，請勿使用其他描述（如 '讀經'）。正確範例：'狂讀聖經一卷'。";

  // event.className: 'past-plan', 'past-adjust', 'now'
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      customButtons: {
        add_events: {
          text: '確認更改',
          click: function() {
            event_sources = $('#calendar').fullCalendar('getEventSources');
            raw_events = [];
            for (i = 1; i < event_sources.length; i++) {
              event_source = event_sources[i]['rawEventDefs'][0];
              
              // only record events within current week
              // TODO server also needs to check events for start, end time
              if (event_source.className.substring(0, 3) == 'now')
                raw_events.push(event_source);
            }

            // send to server
            $.post('http://' + location.host + '/add-events',   // server url
                   {access_token: access_token, events: JSON.stringify(raw_events)},  // data in json format
                   function(data) {               // sent successfully callback
                     alert(data);
                   }
            );
          }
        },
        statistic: {
          text: '統計',
          click: function() {
            // count overcomer words
            event_sources = $('#calendar').fullCalendar('getEventSources');
            console.log(event_sources);
            raw_events = [];
            for (i = 1; i < event_sources.length; i++) {
              event_source = event_sources[i]['rawEventDefs'][0];
              raw_events.push(event_source);
            }
            agenda_day = $('#calendar').fullCalendar('getDate');
            agenda_day.startOf('day');
            if (agenda_day.day() != 6)
              agenda_day.day(-1);
            phrases = ['讀聖經', '傳福音', '個人禱告', '家聚會'];
            agenda_end_day = agenda_day.clone().add(7, 'days');
            count_result = count_overcomer_time(agenda_day, phrases, raw_events, className='past');
            $('.fc-statistic-button').attr({'data-content': count_result});
          }
        },
        cancel_modification: {
          text: '復原',
          click: function() {
            location.reload();
          }
        },
        helper: {
        }
      },
      themeButtonIcons: {
        helper: 'help'
      },
      header: {
        left: 'title',
        center: '',
        right: 'statistic helper today prev,next'
      },
      footer: {
        center: 'add_events cancel_modification',
      },
      defaultDate: moment().toDate(),
      navLinks: false, // can click day/week names to navigate views
      editable: true,
      defaultView: 'agendaWeek', // only show weekly view
      // header: false, // Hide buttons/titles
      minTime: '06:00:00', // Start time for the calendar
      maxTime: '22:30:00', // End time for the calendar
      eventLimit: true, // allow "more" link when too many events
      columnHeaderFormat: 'ddd', // Only show day of the week names
      themeSystem: 'jquery-ui',
      handleWindowResize: true,
      firstDay: 6, // arrange agenda from Saturday
      displayEventTime: true, // Display event time
      selectable: true, // allow highlight by clicking and dragging
      handleWindowResize: false,
      timezone: 'local',
      viewRender: function(view, element){
        // grey-out passed days
        $('.fc-day').filter(
          function(index){
          return moment( $(this).data('date') ).isBefore(moment(),'day')
        }).addClass('date-in-past');

        // set popover property and content 
        $('.fc-helper-button').attr({'data-container': 'body',
                                 'title': '說明',
                                 'data-toggle': 'popover',
                                 'data-trigger': 'click',
                                 //'data-trigger': 'focus',
                                 'data-placement': 'bottom',
                                 'data-content': helper_content});
        $('.fc-statistic-button').attr({'data-container': 'body',
                                 'title': '單位: 小時',
                                 'data-toggle': 'popover',
                                 'data-trigger': 'click',
                                 //'data-trigger': 'focus',
                                 'data-placement': 'bottom'});
        $('[data-toggle="popover"]').popover();
          
      },
      dayClick: function(date, jsEvent, view) {
        if(isClicked){
          clicked_date = date;
          $('#event-query-modal').modal('show');
          isClicked = false;
        }
        else{
          isClicked = true;
        }
        setTimeout(function(){
          isClicked = false;
        }, 250);
      
      },
      eventClick: function(calEvent, jsEvent, view) {
        if(isClicked_event){
          clicked_event = calEvent;
          $('#header-event-title').text(calEvent.title);
          $('#body-event-description').text(calEvent.description);
          $('#event-show-modal').modal('show');
          isClicked_event = false;
        }
        else{
          isClicked_event = true;
        }
        setTimeout(function(){
          isClicked_event = false;
        }, 250);
      },
      eventAfterRender: function(view, ele) {
        $('.fc-scroller').css('height', 'auto');
        
      },
      eventDrop: function(event, delta, revertFunc) {
        source = event.source.rawEventDefs[0];
        new_end = moment(event.end._d.toGMTString()).format('YYYY-MM-DDTHH:mm:ss');
        source.end = new_end;
        new_start = moment(event.start._d.toGMTString()).format('YYYY-MM-DDTHH:mm:ss');
        source.start = new_start;

        $('#calendar').fullCalendar('updateEvent', event);
        event_sources = $('#calendar').fullCalendar('getEventSources');
      },
      eventResize: function(event) {
        source = event.source.rawEventDefs[0];
        new_end = moment(event.end._d.toGMTString()).format('YYYY-MM-DDTHH:mm:ss');
        source.end = new_end;
        new_start = moment(event.start._d.toGMTString()).format('YYYY-MM-DDTHH:mm:ss');
        source.start = new_start;

        $('#calendar').fullCalendar('updateEvent', event);
        event_sources = $('#calendar').fullCalendar('getEventSources');
      },
      events: [],
    });
    setTimeout(function(){$('.fc-scroller').css('height', 'auto');}, 500);
  });

html
  // calendar event query modal
  div(class="modal fade", id="event-query-modal")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content")
        div(class="modal-header")
          h4(class="modal-title") 新增事項
          button(type="button", class="close", data-dismiss="modal") &times;
        div(class="modal-body")
          div(class="form-group")
            label(for="event_name") 事項名稱:
            input(type="text", class="form-control", id="event_name")
          div(class="form-group")
            label(for="event_description") 描述:
            textarea(type="password", class="form-control", id="event_description", rows="3")
        div(class="modal-footer")
          button(type="button", class="btn btn-success", data-dismiss="modal", id="confirm-add-event") 確定
          button(type="button", class="btn btn-danger", data-dismiss="modal") 取消

  // show event detail
  div(class="modal fade", id="event-show-modal")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content")
        div(class="modal-header")
          h4(class="modal-title", id="header-event-title")
          button(type="button", class="close", data-dismiss="modal") &times;
        div(class="modal-body")
          div(class="form-group")
            label(id="body-event-description")
        div(class="modal-footer")
          //button(type="button", class="btn btn-success", data-dismiss="modal") 確定
          span(style='font-size: 0.8em') <br> (移動, 改長度請跳出並長按事項)
          button(type="button", class="btn btn-danger", data-dismiss="modal", id="delete-event") 刪除

script.
  $('#event-query-modal button').on('click', function(event) {
    if (this.id == 'confirm-add-event') {
      [plan_begin, plan_end, adjust_end] = get_time_limit();
      if (clicked_date.isBefore(plan_begin.endOf('day'))) {
        alert("已過行事曆不可更改");
        return;
      }
      else if (clicked_date.isAfter(adjust_end.endOf('day'))) {
        alert("還不能編輯未來行事曆");
        return;
      }
      
      var event_source = [{
        title: $('#event_name').val(),
        description: $('#event_description').val(),
        start: clicked_date.format(),
        end: clicked_date.add(1, 'hours').format(),
        className: 'now'
      }];
      $('#calendar').fullCalendar('addEventSource', event_source);
    }

    $('#event_name').val("");
    $('#event_description').val("");
  });  
    
  $('#event-show-modal button').on('click', function(jsEvent) {
    if (this.id == 'delete-event') {
      $('#calendar').fullCalendar('removeEventSource', clicked_event.source);
    }
  });
