extends index.pug

block calendar-handler
  include includes/calendar-handler-admin.pug

block main-display-body
  div.container.wrapper.calendar-container
    // form to select which user to see
    div.form-inline
      .dropdown
        button#select-user.btn.btn-outline-success.dropdown-toggle(type='button',
                                                                          data-toggle='dropdown', 
                                                                          aria-haspopup='true', 
                                                                          aria-expanded='false')
          | 選擇 
        .dropdown-menu(id='user-names', aria-labelledby='dropdownMenuButton')
      button#send-comment.btn.btn-danger.ml-2 送出 
    .form-group.mt-2
      textarea#comment.form-control(rows='5', placeholder='新增評語 ...')
    hr
    // calendar
    div#calendar.fc

  // onUserSelected
  script.
    var requested_uid = null;
    $('#user-names').on('click', function(event) {
      event.preventDefault(); 
      selected_name = $(event.target).text();

      // clean calendar
      $('#calendar').fullCalendar('removeEvents');

      // get uid based on user name
      requested_uid = null;
      for (var key in users) {
        if (users[key] == selected_name)
          requested_uid = key;
      }
      $('#select-user').html(selected_name);
      if (requested_uid == null) {
        console.log("Cannot find matched uid for name " + selected_name);
        return;
      }

      // get selected user's calendar
      $.post('http://' + location.host + '/get-events',
        {access_token: access_token, requested_uid: requested_uid, requested_time: 'past'},
        function(data) {
          try {
            if (data == 'You are not an admin!') {
              alert("You are not an admin!");
              return ;
            }
            data = JSON.parse(data);
            for (var i = 0; i < data.length; i++) {
              d = data[i];
              if (d.className == 'past-plan')
                color = '#FF3C33';  // red
              else if (d.className == 'past-complete')
                color = '#2ECB4B';  // green
              else if (d.className == 'past-adjust')
                color = '#EC9600';  // orange
              else if (d.className == 'now')
                color = '#3A87AD';  // blue
              else {
                // TODO: error occur
                color = '#F4C08B';  // orange
              }
              var event_source = [{
                title: d.title,
                description: d.description,
                start: d.start,
                end: d.end,
                color: color,
                className: d.className
              }];
              $('#calendar').fullCalendar('addEventSource', event_source);
            }

            // count overcomer words
            agenda_day = $('#calendar').fullCalendar('getDate');
            agenda_day.startOf('day');
            if (agenda_day.day() != 6)
              agenda_day.day(-1);
            phrases = ['讀聖經', '傳福音', '個人禱告', '家聚會'];
            count_result = count_overcomer_time(agenda_day, phrases, data, className='past');
            $('.fc-helper-button').attr({'data-content': count_result});
          }
          catch (err) {
            console.log(data, err);
          }
        });
    });
  
  // onCommentSent
  script.
    $('#send-comment').on('click', function(event) {
      if (requested_uid == null) {
        alert("Select user first to add a comment.");
        return;
      }
      $.post('http://' + location.host + '/add-comment',
        {access_token: access_token, requested_uid: requested_uid, comment: $('#comment').val()},
        function(data) {
          alert(data);
        });
    });
    
block onAuthStateChanged 
  script.
    var access_token = null;
    var users;
    initApp = function() {
      firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var photoURL = user.photoURL;
        user.getIdToken().then(function(accessToken) {
          access_token = accessToken;
          $.get('http://' + location.host + '/users',
            null,
            function(data) {
              console.log(data);
              try {
                data = JSON.parse(data);
                users = data;
                $('#user-names').html("");
                for (var key in data) {
                  $('#user-names').append('\<a class="dropdown-item dropdown-users", href="#">' + data[key] + '\<a>');
                }
              }
              catch (err) {
                console.log(err, data);
              }
            })
          }, null, '  ');
        
          // append user info & sign out button
          $('#sign-in-button').remove();
          var new_user_info = $('#user-info').clone();
          new_user_info.attr("id", "user-info-instance")
            .appendTo("#user-info-container");
          $('.user-image').attr("src", photoURL);
          $('.user-name').html(displayName);
          $('.sign-out-button').on('click', function(event) {
            firebase.auth().signOut();
            ui.start('#firebaseui-auth-container', uiConfig);
          });
          new_user_info.show();
          console.log("User signed in");
      } 
      else {
          // User is signed out.
          $('#user-info-instance').remove();
          $('#user-info-container').append('\\<button class="btn btn-success nav-item ml-auto"' +
          'id="sign-in-button" data-toggle="modal" data-target="#signin-modal">登入\<\/button>');
          access_token = null;
          // TODO confirm sign-out for remained events
          $('#calendar').fullCalendar('removeEvents');
          console.log("User signed out");
      }}, function(error) {
            console.log(error);
        });
      };
      window.addEventListener('load', function() {
        initApp()
      });
