doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
    script(src="javascripts/custom_func.js")
    include includes/firebase-header.pug
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      // collapse button
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#user-info-container", aria-controls="user-info-container", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      // brand, title and user info
      a.navbar-brand(href="#")
        img(id='web-logo', src='images/logo-grey.png', height="36", width="36")
      #user-info-container.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#", class="mt-2.mt-md-0")
              | 竹苗大學中幹訓練 
              span.sr-only (current)

      // sign in modal
      div(class="modal fade", id="signin-modal")
        div(class="modal-dialog modal-dialog-centered")
          div(class="modal-content")
            div(class="modal-header")
              h4(class="modal-title") 登入
              button(type="button", class="close", data-dismiss="modal") &times;
            div(class="modal-body")
              div(id="firebaseui-auth-container")
            div(class="modal-footer")
              button(type="button", class="btn btn-danger", data-dismiss="modal") 取消
    
    block main-display-body
      // calendar
      div.scrollable
        div.calendar-container
          div#comment-container.alert.alert-danger.alert-dismissible(style='display: none;')
            button(type="button", class="close", data-dismiss="alert") &times;
            div#comment
          div#calendar.fc
        
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.js")
    block calendar-handler
      include includes/calendar-handler.pug

    // user info element template (used to create instance when signed in)
    ul(class="navbar-nav ml-auto mt-2 mt-md-0", id="user-info", style='display:none')
      li(class="nav-item")
        img(width="32", height="32", class="rounded-circle nav-item user-image", style="margin-right: 5px")
        span(class="navbar-text text-center user-name", contenteditable="true")
        span(class="vavbar-text text-center space") &nbsp
        button(class="btn btn-danger nav-item sign-out-button ml-auto", style="float: right;") 登出
