body {
  overflow-x: hidden;
  word-wrap: break-word;
}
#comment-container {
  white-space:pre-wrap !important;
  width: 100%;
}
.calendar-container {
  margin: 40px 5%;
  padding: 0;
  font-size: 14px;
  max-width: 900px;
}
.date-in-past {
  background: #ccc;
  opacity: 0.3;
}
.navbar > button { float: right; }
ul > li {
    margin-right:5px;
}

/* change placeholder color for inputs */ 
.form-control::-webkit-input-placeholder { 
  color: #D3D3D3;
}
.form-control::-moz-placeholder {
  color: #D3D3D3;
}
.form-control:-ms-input-placeholder {
  color: #D3D3D3;
}
.form-control:placeholder {
  color: #D3D3D3;
}
