body {
  word-wrap: break-word;
}
#comment-container {
  white-space:pre-wrap !important;
  width: 100%;
}
.calendar-container {
  padding: 5% 5% 5% 5%;
  font-size: 14px;
  width: 100%;
  max-width: 900px;
  display: block;
  overflow: auto;
  min-width: 600px;
}
.date-in-past {
  background: #ccc;
  opacity: 0.3;
}
.scrollable {
  display: block;
  overflow: auto;
}

.navbar > button { float: right; }
ul > li {
    margin-right:5px;
}
.popover {
  white-space: pre-wrap;    
}
.fc-helper-button {
  border-radius: 50px;
}

/* change placeholder color for inputs */ 
.form-control::-webkit-input-placeholder { 
  color: #D3D3D3;
}
.form-control::-moz-placeholder {
  color: #D3D3D3;
}
.form-control:-ms-input-placeholder {
  color: #D3D3D3;
}
.form-control:placeholder {
  color: #D3D3D3;
}
